
.sql-editor {
    background-color: rgba(255, 255, 255, 0.769);
    border-radius: 30px;
    margin: 15px;
    box-sizing: border-box;
    cursor: pointer;
}

.button {
    background-color: blue;
    margin: 5px;
    border-radius: 5px;
    color: white;
}

.selected {
    background-color: rgb(255 255 255);
}

.delete-button {
    background-color: red;
    margin: 5px;
    border-radius: 5px;
    color: white;
}

.editor {
    margin: 5px;
    height: 100px;
    color: black;
    text-align: left;
    font-size: 25px;
    width: 84%;
    border: none;
    cursor: pointer;
    background-color: #cdced0;
}

.selected > .editor {
    background-color: rgb(255 255 255);
}

.editor:focus-visible {
    outline: none;
}

.bottom-actions {
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;
}